.git
.gitignore
.next
.env
.env.local
node_modules
README.md
.dockerignore
Dockerfile
docker-compose.yml
.env*
*.log
.DS_Store
dist
build
npm-debug.log*
.npm
.cache
coverage
.nyc_output
Dockerfile*
docker-compose* 